.card-container {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 #3232470f, 0 4px 8px 0 #0064a814;
}

.card-inner-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card-header > h2 {
  color: var(--primary-color);
}
